html {
    height: 969px;
}

body {
    margin: 0;
    background: linear-gradient(to bottom, #7fffd0, #ffffff);
}

::-webkit-scrollbar {
    display: none;
}

#header {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    left: 30%;
}

#userInfo {
    position: relative;
    width: 547px;
    left: 35%;
    margin-top: 100px;
}

#goBack {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: #000000;
    text-decoration: none;
}

#userInfo label {
    font-size: 20px;
}

#userInfo input {
    font-size: 18px;
}

.notDuplicate {
    color: #000000;
    margin: 15px 0;
    border: none;
    border-bottom: 1px solid #dddddd;
    opacity: 1;
    background-color: transparent;
}

#userInfo input:focus {
    outline: none;
    opacity: 1;
}

.notDuplicate:focus {
    border-bottom: 1px solid #000000;
}

.duplicateCheck {
    position: relative;
    bottom: 8px;
    width: 130px;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: #f6b9ff;
    cursor: pointer;
}

.duplicateCheck:hover {
    background-color: #e850ff;
}

#submitWrap {
    text-align: right;
}

.submitBtn {
    color: #00a531;
    text-align: center;
    background-color: #c7f8ff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.submitBtn:hover {
    background-color: #59e9ff;
}